body
{
	background-color:blue;
	font-family: Verdana, Helvetica, Geneva, sans-serif;
	font-size:12px;
}
#page
{
	background-color:yellow;
	margin-left:auto;
	margin-right:auto;
	width:90%;
	margin-top:20px;
	margin-bottom:0px;
	padding:1%;
	padding-bottom:225px;
}
.header
{
	background-color:green;
	text-align:center;
	margin-top:1px;
	margin-bottom:1px;
	padding:10px;
}
.contentLeftNav
{
	float:left;
	width:20%;
	background-color:lime;
	margin-top:5px;
	margin-bottom:5px;
}
.contentMain
{
	margin-left:20%;
	position:absolute;
	width:58%;
	background-color:white;
	margin-top:5px;
	margin-bottom:5px;
}

.contentAds
{
	float:right;
	position:relative;
	width:10%;
	background-color:red;	
	
}

.footer
{
	color:lime;
	background-color:black;
	font-size:8px;
	text-align:right;
	padding-top:5px;
	padding-bottom:10px;
}